@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
	--pink: #db6b97;
	--grey: #737373;
	font-size: 0.9rem;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	box-sizing: border-box;
}

.link,
.btn-link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	color: black;
}

/* Responsive */

.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	/* border: 1px solid red; */
}

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}

	/* xl */
	@media (max-width: 1280px) {
		.container {
			max-width: 1024px;
		}
	}

	/* lg */
	@media (max-width: 1024px) {
		.container {
			max-width: 768px;
		}
	}

	/* md */
	@media (max-width: 1046px) {
		.container {
			max-width: 768px;
		}
		.container.c-home {
			display: block;
		}

		.explore img {
			height: 50vh;
			width: 100%;
			object-fit: cover;
		}
	}
}
@media (min-width: 657px) {
	.wrapper {
		display: none;
	}
}
/* sm */
@media (max-width: 657px) {
	.container {
		max-width: 490px;
	}
	.menu {
		display: none;
	}

	.wrapper {
		position: relative;
		display: visible;
	}
	.dropdown:hover {
		color: black;
	}

	.drplist {
		display: none;
		background-color: #fff;
		width: 5rem;
		position: absolute;
		z-index: 1;
		left: -3rem;
		box-shadow: 0 2px 15px black;
	}

	.drplist > li {
		display: block;
		list-style: none;
		padding: 0.5rem 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 400;
		font-size: 1rem;
	}

	.wrapper:hover .drplist {
		display: block;
	}
	/*about*/
	.container > .about > img {
		display: none;
	}
	/* footer */
	.footer > .container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 300px;
	}
	.logo {
		display: none;
	}
	.product {
		transform: scale(0.8);
	}
}
