.container.c-cart {
	min-height: fit-content;
	padding: 3rem 2rem;
}

ul.cart {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

li.cart-li {
	display: grid;
	grid-template-columns: 0.5fr 0.75fr 0.2fr;
	gap: 0.5rem;
	align-items: center;
	border: 1px solid var(--grey);
	box-shadow: 2px 2px 4px #737373;
}

.cart-li img {
	width: 100%;
	object-fit: contain;
}

.emp-cart {
	position: relative;
	top: 30%;
	text-align: center;
}
