.contact-form {
	margin: auto;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

form {
	display: flex;
	flex-direction: column;
}
p {
	padding-bottom: 1.5rem;
}

form > input {
	border: 1px solid var(--pink);
	padding-left: 0.5rem;
	border-radius: 0.5rem;
	height: 2.5rem;
	margin-bottom: 0.8rem;
}

#message {
	padding: 1.5rem 0 10rem 0.5rem;
	font-family: 'Courier New', Courier, monospace;
}

#submit {
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	background-color: black;
	color: var(--pink);
	font-size: large;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.social {
	margin-top: 0.5rem;
	letter-spacing: 1rem;
	text-align: center;
}
