.container.c-home {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.explore img {
	height: 100%;
	width: auto;
}

.swiper-slide {
	text-align: center;
	background: #fff;
	position: relative;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

.explore {
	position: relative;
}

.explore p,
.swiper-slide p {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 2;
}

.c-home p:hover {
	color: var(--pink);
}
