@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
	--pink: #db6b97;
	--grey: #737373;
}

* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	box-sizing: border-box;
}

.navbar {
	height: 72px;
	width: 100vw;
	box-shadow: 5px 0px 10px var(--grey);
}
.container {
	display: flex;
	flex-direction: row;
	margin: 0 30px;
}
span {
	color: black;
	font-size: 48px;
}
.navbar .logo {
	color: var(--pink);
	font-weight: 800;
	font-size: 48px;
}

.navbar .menu,
.navbar .side {
	color: #db6b97;
	display: flex;
	font-weight: 600;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
