.navbar {
	height: 72px;
	width: 100vw;
	box-shadow: 5px 0px 10px var(--grey);
}

.navbar .container {
	margin: auto;
	height: 72px;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
}

span {
	color: black;
	font-size: 48px;
}

.container .logo {
	color: var(--pink);
	font-weight: 800;
	font-size: 48px;
}

.menu,
.side {
	margin: auto;
	color: #db6b97;
	display: flex;
	font-weight: 600;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
