.container.c-nav {
	height: 72px;
	display: flex;
	flex-direction: row;
}

.navbar {
	box-shadow: 2px 2px 5px grey;
}
span {
	color: black;
	font-size: 48px;
}

.logo {
	color: var(--pink);
	font-weight: 800;
	font-size: 2.5rem;
}

.menu,
.side {
	margin: auto;
	color: #db6b97;
	display: flex;
	font-weight: 600;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
