.container.c-shop {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(4, 40rem);
	column-gap: 1rem;
}

.container.c-shop li {
	height: fit-content;
	width: fit-content;
	place-self: center;
}
