.container.c-shop {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	/* grid-template-rows: repeat(4, 40rem); */
	gap: 2.5rem;
	column-gap: 4rem;
}

.container.c-shop li {
	height: fit-content;
	width: fit-content;
	place-self: center;
}
